<br>
<img class="img-circle img-responsive img-center" style="width: 200px" src={{product.image}}>
<h2 class="blog-post-title">{{product.title}}</h2>
<p class="blog-post-meta">{{product.cost}}</p>
<p>{{product.description}}</p>

  <button class="btn btn-success center-block" {{action 'addToCart' product}}>Add to Cart</button>
  <br>
  <button class="btn btn-primary center-block" {{action 'remove' product}}>Remove from Cart</button>
